.signup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.form-group {
  margin: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 10px;
}

.form-group .input-wrapper {
  position: relative;
}

.form-group input {
  border: 1px solid #f4b607;
  outline: 0;
  padding: 9px 18px;
  text-indent: 20px;
  width: 100%;
}

.form-group [class*=fa-] {
  position: absolute;
  bottom: 25%;
  left: 10px;
}

.form-group .button {
  outline: 0;
  padding: 9px 18px;
  cursor: pointer;
  width: 100%;
}

.form-group .button [class*=fa-] {
  color: #fff;
  display: inline-block;
  margin-left: 15px;
  position: static;
}

.form-group + p a {
  padding-left: 5px;
  text-decoration: underline;
}

@media screen and (min-width: 768px) {
  .form-group .input-wrapper,
  .form-group .button {
    width: 50%;
  }

  .form-group .input-wrapper {
    margin: 0 auto;
  }
}
