.form-errors {
  background: rgba(255, 91, 71, 0.8);
  border-bottom: 5px solid tomato;
  color: #fff;
  margin: 15px;
  padding: 10px;
}

@media screen and (min-width: 768px) {
  .form-errors {
    margin: 0 auto;
    width: 50%;
  }
}

.form-errors ul {
  list-style-type: none;
  padding: 0;
}

.form-errors li {
  margin: 10px;
}
