.welcome {
  background-color: #f4b607;
  background-blend-mode: multiply;
  background-image: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url('../../bg.jpg');
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  padding: 35px;
  position: relative;
  text-align: center;
}

.welcome h1 {
  font-size: 3.157rem;
}

@media screen and (min-width: 969px) {
  .welcome h1 {
    margin: 0 auto;
    width: 50%;
  }
}

.features {
  padding: 35px;
  text-align: center;
}

.features .feature {
  border-bottom: 1px solid #f6f9fc;
  margin-bottom: 10px;
  padding-top: 10px;
}

.features [class*=fa-] {
  font-size: 1.777rem;
}

@media screen and (min-width: 768px) {
  .features {
    align-items: center;
    display: flex;
    margin-top: 30px;
    padding: 0;
  }

  .features .feature {
    border: 0;
    padding: 35px;
  }
}
