.navigation {
  display: flex;
  justify-content: space-around;
  margin: 15px 15px 0;
  min-height: 5%;
}

.logo a {
  color: #f4b607;
  font-weight: 400;
}

.auth-links a {
  font-weight: 400;
}

.auth-links a:nth-child(1) {
  padding: 0 15px;
}

.auth-links a.highlight {
  border: 1px solid;
  color: #f4b607;
  margin-right: 10px;
  padding: 6px 12px;
}

.auth-links a.highlight:last-of-type {
  margin-right: 0;
}
