.no-notes {
  margin: 0 auto;
  text-align: center;
}

.no-notes [class*=fa-] {
  display: block;
  margin: 45px auto 15px;
}

.no-notes a {
  color: #f4b607;
}

.sidebar {
  margin-left: 25px;
  margin-top: 15px;
  width: 85%;
}

.sidebar a.highlight {
  border: 1px solid #f4b607;
  color: #f4b607;
  display: inline-block;
  margin-bottom: 15px;
  padding: 6px 12px;
}

.note-summary {
  background-color: #f6f9fc;
  cursor: pointer;
  margin: 20px 0;
  padding: 20px;
}

.notes {
  cursor: text;
  height: calc(100vh - 50px);
  margin-left: 15px;
  overflow: scroll;
  padding: 20px;
}

.note {
  height: 100%;
}

.note .delete-note {
  cursor: pointer;
  font-size: 1.777rem;
}

.note .close-note {
  float: right;
  font-size: 1.777rem;
  margin-bottom: 25px;
}

.note > input,
.note > textarea {
  border: 0;
  outline: none;
  width: 100%;
}

.note > input {
  font-size: 1.333rem;
  font-weight: 700;
  display: block;
  margin: 18.72px 0;
}

.note > textarea {
  height: 100%;
  resize: none;
}

@media screen and (min-width: 768px) {
  .dashboard {
    display: flex;
    max-width: 1280px;
  }

  .sidebar {
    border-right: 1px solid #f5f5f5;
    height: calc(100vh - 50px);
    overflow: scroll;
    width: 30%;
  }

  .note-summary {
    border-bottom: 1px solid #bfc0c0;
    margin: 0;
    padding: 10px;
  }

  .notes {
    width: 60%;
  }
}
