* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-weight: 300;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

.app-container {
  height: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.button {
  background-color: #f4b607;
  border: 0;
  border-radius: 4px;
  color: #fff;
  display: inline-block;
  font-weight: 400;
  margin: 15px auto;
  padding: 8px 16px;
  text-transform: uppercase;
}

[class*=fa-] {
  color: #f4b607;
  margin: 0 5px;
}

.desktop-only, .tablet-only {
  display: none;
}
@media screen and (min-width: 1024px) {
  .desktop-only {
    display: initial;
  }
}

@media screen and (min-width: 768px) {
  .tablet-only {
    display: initial;
  }
}

.main-content {
  flex: 1 0 auto;
}

@media screen and (max-width: 767px) {
  .hide-sm {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .hide-md {
    display: none;
  }
}
